@tailwind base;
@tailwind components;
@tailwind utilities;

.page-container {
  min-height: 100vh;
  padding: 1rem;
}

.form-container {
  max-width: 390px;
  background-color: #97aec7;
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 32px;
  height: 100%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
@media (min-width: 640px) {
    max-width: 640px;
    max-height: 100vh;
    min-width: 640px;
    padding: 20px;
  }
}

.form-container-1 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 12px;
}

.form-button {
  padding: 12px;
  background-color: #c53030;
  color: white;
  border-radius: 9999px;
  max-width: 150px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.form-button:hover {
  background-color: #f56565;
}

.form-container-2 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 8px;
}

.form-container-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  gap: 8px;
}

.form-select {
  border: 1px solid #cbd5e1;
  border-radius: 12px;
  /* padding: 4px; */
  outline: none;
}

@media (min-width: 640px) {
  .form-select {
    padding: 16px;
  }
}

.form-button-2 {
    background-color: #2563eb;
    padding: 16px;
    /* width: 160px; */
    color: white;
    font-size: 1.125rem;
    border-radius: 9999px;

    transition: background-color 0.3s ease;
}

.form-button-2:hover {
    background-color: #60a5fa;
}

.modal-container {
    max-height: 80vh;
    overflow-y: scroll;
}

.list-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form-container-12 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}